body {
	color:#ffffff;
	background-color: #f9f8f6;
    background-image: 
    url("https://static.bhphotovideo.com/explora/sites/default/files/tsc/12d-window-seat-0066.jpg");
	background-position: top;
	font-family: Trebuchet MS, Calibri, serif;
	line-height: 1.4em;
	margin: 100px;}